<div class="container">
    <div class="card">
        <h5 class="card-header">Lista de lanches</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Disponibilidade</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of lista">
                        <td>{{l.id}}</td>
                        <td>{{l.nome | uppercase}}</td>
                        <td>{{l.valor | currency}}</td>
                        <td>{{true == l.disponibilidade ? 'Disponível' : 'Indisponível'}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm"
                                (click)="editarLanche(l)">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm ml-1"
                                (click)="excluirLanche(l)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>